---
import Link from "@components/link.astro";
import Layout from "@layouts/Layout.astro";
import { frameworks, frameworksTBA, images } from "@utils";

export const prerender = true;
---

<Layout title="How's It">
    <div class="w-full text-white sm:py-4">
        <h1 class="text-3xl font-bold">
            Learn about the <span class="italic underline">Modern</span> Web!
        </h1>
        <p class="mt-5">
            Right now, the <span class="italic">modern web</span> is dominated by
            using TypeScript, JavaScript or more recently JSDoc with a framework/library
            to create your fullstack (frontend/visual + backend/server) applications.
        </p>
        <p class="mt-6 sm:mt-0">
            <img
                src={images["html"]}
                alt={"HTML"}
                class="min-w-4 ml-2 inline-block h-4 w-4"
            />
            <span class="text-xl font-bold text-html">HTML</span> is the main code
            of the web. It is the markup language that provides the skeleton to all
            websites.
        </p>
        <p>
            <img
                src={images["css"]}
                alt={"CSS"}
                class="min-w-4 ml-2 inline-block h-4 w-4"
            />
            <span class="text-xl font-bold text-css">CSS</span> is the design of
            the web. It is a language that gives elements their color, width, shadows,
            and more.
        </p>
        <p>
            <img
                src={images["javascript"]}
                alt={"JavaScript"}
                class="min-w-4 ml-2 inline-block h-4 w-4"
            />
            <span class="text-xl font-bold text-js">JavaScript</span> (or JS) is
            the language of the web, it's the main language in which browsers like
            Chrome can run code for sites.
        </p>
        <p>
            <img
                src={images["typescript"]}
                alt={"TypeScript"}
                class="min-w-4 ml-2 inline-block h-4 w-4"
            />
            <span class="text-xl font-bold text-ts">TypeScript</span> (or TS) is
            a superset of JavaScript that introduces types in to the language. Types
            help catch bugs and speed up development.
        </p>
        <p>
            <img
                src={images["jsdoc"]}
                alt={"JSDoc"}
                class="min-w-4 ml-2 inline-block h-4 w-20"
            />
            is a recent alternative to TypeScript that allows for annotations to
            be added to JavaScript code, to give type inference.
        </p>
        <p class="mt-6 sm:mt-5">
            Using JS, TS, or JSDoc, websites are usually made using a framework.
            There are many frameworks and libraries like Next.js, SvelteKit,
            Solid-Start, Astro, and more.
        </p>
        <p>
            Each of these frameworks uses an underlying library to write the
            websites in.
        </p>
        <p class="mt-6 sm:mt-5">
            Implementation and direct comparision is the best way for some
            people to learn about different 'bleeding edge' libraries.
        </p>
        <p class="mt-6 sm:mt-0">
            This site goes over the different ways you would implement the same
            thing in these different libraries. Below you'll see the list of
            supported libraries, and what popular frameworks use them.
        </p>
        <p class="mt-6">
            Go to the <Link href="/examples">examples</Link> page to look at some
            code and live examples!
        </p>
        <h2 class="mt-4 break-words text-xl">Supported libraries:</h2>
        <ul class="ml-8 list-decimal">
            {
                Object.keys(frameworks)
                    .map((f) => frameworks[f])
                    .map((f) => (
                        <li>
                            <div>
                                <Link href={f.docs}>{f.name}</Link>
                                {f.supportedLanguages.map((l) => (
                                    <img
                                        src={images[l.toLowerCase()]}
                                        alt={l}
                                        class={`min-w-4 ml-2 inline-block h-4 ${
                                            l.toLowerCase() === "jsdoc"
                                                ? "w-20"
                                                : "w-4"
                                        }`}
                                    />
                                ))}
                            </div>

                            <ul class="ml-8 list-disc">
                                {f.notes.map((e) => (
                                    <li>
                                        <span class="text-sm">{e}</span>
                                    </li>
                                ))}
                            </ul>
                        </li>
                    ))
            }
        </ul>
        <h2 class="mt-4 break-words text-xl">Other libraries:</h2>
        <ul class="ml-8 list-decimal">
            {
                Object.keys(frameworksTBA)
                    .map((f) => frameworksTBA[f])
                    .map((f) => (
                        <li>
                            <Link href={f.docs}>{f.name}</Link>
                            <ul class="ml-8 list-disc">
                                {f.notes.map((e) => (
                                    <li>
                                        <span class="text-sm">{e}</span>
                                    </li>
                                ))}
                            </ul>
                        </li>
                    ))
            }
        </ul>
    </div>
</Layout>
