---
import Icon from "@components/icon.astro";
import Link from "@components/link.astro";
import PageLayout from "@layouts/PageLayout.astro";
import { frameworks, frameworksTBA } from "@utils";

export const prerender = true;
---

<PageLayout
    title="How's It"
    desc="How's It is an interactive collection of different implementations of components/examples using many different libraries"
>
    <h1 class="text-3xl font-bold">
        Learn about the <span class="italic underline">Modern</span> Web!
    </h1>
    <p class="mt-6 sm:mt-5">
        Implementation and direct comparision is the best way for some people to
        learn about different 'bleeding edge' libraries.
    </p>
    <p class="mt-6 sm:mt-0">
        This site goes over the different ways you would implement the same
        thing in these different libraries. Below you'll see the list of
        supported libraries, and what popular frameworks use them.
    </p>
    <p class="mt-6">
        Go to the <Link href="/learn">learn</Link> page to begin your web dev journey!
    </p>
    <p>
        Go to the <Link href="/examples">examples</Link> page to look at some code
        and live examples!
    </p>
    <h2 class="mt-4 break-words text-xl">Supported libraries:</h2>
    <ul class="ml-8 list-decimal">
        {
            Object.keys(frameworks)
                .map((f) => frameworks[f])
                .map((f) => (
                    <li>
                        <div>
                            <Link href={f.docs}>{f.name}</Link>
                            {f.supportedLanguages.map((l) => (
                                <Icon
                                    src={l}
                                    class="ml-2"
                                />
                            ))}
                        </div>

                        <ul class="ml-8 list-disc">
                            {f.notes.map((e) => (
                                <li>
                                    <span class="text-sm">{e}</span>
                                </li>
                            ))}
                        </ul>
                    </li>
                ))
        }
    </ul>
    <h2 class="mt-4 break-words text-xl">Other libraries:</h2>
    <ul class="ml-8 list-decimal">
        {
            Object.keys(frameworksTBA)
                .map((f) => frameworksTBA[f])
                .map((f) => (
                    <li>
                        <Link href={f.docs}>{f.name}</Link>
                        <ul class="ml-8 list-disc">
                            {f.notes.map((e) => (
                                <li>
                                    <span class="text-sm">{e}</span>
                                </li>
                            ))}
                        </ul>
                    </li>
                ))
        }
    </ul>
</PageLayout>
